@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply w-full
  }

  .section {
    @apply container mx-auto px-4
  }

}

@layer components {
  .emoji-404 {
    position: relative;
    animation: mymove 2.5s infinite;
  }

  .btn-action {
    @apply px-6 py-3 mr-4 text-sm transition-all text-white font-semibold bg-teal rounded-md;
  }

  .btn-action:hover {
    @apply bg-hummingBird text-black;
  }

  .btn-more {
    @apply font-semibold px-6 py-2.5 rounded-md border text-sm transition-all ease-out duration-300;
  }

  .btn-more:hover {
    @apply bg-gray text-white ring-2 ring-offset-2 ring-gray;
  }

  .form-input {
    @apply block w-full px-4 py-2 mt-2 text-teal bg-white border border-gray rounded-md
  }

  .form-input:focus {
    @apply border-teal ring-hummingBird outline-none ring ring-opacity-40
  }

  .form-btn {
    @apply w-full px-4 py-2 tracking-wide text-white font-semibold transition-colors duration-200 transform bg-teal rounded-md
  }

  .form-btn:hover {
    @apply bg-hummingBird text-black;
  }

  .icon-btn {
    @apply flex items-center justify-center w-full p-2 border border-gray rounded-md cursor-pointer
  }

  .icon-btn:hover {
    @apply bg-gray text-white
  }

  .icon-btn:focus {
    @apply ring-2 ring-offset-1 ring-hummingBird
  }

  @keyframes mymove {
    33% {
      top: 0px;
    }

    66% {
      top: 20px;
    }

    100% {
      top: 0px
    }



  }
}