@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply w-full
  }

  .section {
    @apply container mx-auto py-16 px-4
  }

  .animate-slide:hover {
    animation-play-state: paused;
  }
}

@layer components {
  .emoji-404 {
    position: relative;
    animation: mymove 2.5s infinite;
  }

  @keyframes mymove {
    33% {
      top: 0px;
    }

    66% {
      top: 20px;
    }

    100% {
      top: 0px
    }



  }
}